body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }
  
  h3 {
    margin-top: 20px;
  }
  
  ul {
    padding-left: 20px;
  }
  
  li {
    list-style-type: disc;
    margin: 5px 0;
  }
  
  
  button {
    cursor: pointer;
  }

  .app {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
  }